*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo h1{
    color: #8585ff;
    border-bottom: 1px solid #a1a1f8;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background-color: #c4c4f7;
    transition: all 0.5s;
}

li a:hover::after{
    width: 100%;
}

/* ------------------ Main --------------------- */
main{
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.container-right img{
    max-width: 670px;
    height: auto;
    width: 60vw;
}

.container-left{
    width: 30%;
}

.container-left h1{
    font-size: 54px;
    color: rgb(157, 135, 253);
    text-transform: uppercase;
}

.container-left h2{
    font-size: 35px;
    color: #c4c4f7;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.container-left p{
    font-size: 14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}

.cta{
    padding: 15px 30px;
    background-color: rgb(157, 135, 253);
    outline: none;
    border: none;
    font-weight:700;
    text-transform: uppercase;
    border-radius: 15px; 
    color: white;
}

.signup-btn{
    padding: 10px 20px;
    background-color: rgb(157, 135, 253);
    outline: none;
    border: none;
    font-weight:700;
    text-transform: uppercase;
    border-radius: 15px; 
    color: white;
}